{% extends 'gestor_academico/base.html' %}
{% block content %}
<h2 class="mb-3">Lista de Estudiantes</h2>
{% if students %}
<table class="table table-striped table-hover bg-white shadow-sm rounded">
  <thead class="table-primary">
    <tr>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Promedio</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for s in students %}
    <tr>
      <td>{{ s.matricula }}</td>
      <td>{{ s.nombre }}</td>
      <td>{{ s.promedio }}</td>
      <td>
        <a class="btn btn-sm btn-outline-primary" href="{% url 'student_detail' s.id %}">Detalle</a>
        <a class="btn btn-sm btn-outline-success" href="{% url 'add_grade' s.id %}">Añadir Nota</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">No hay estudiantes registrados.</p>
{% endif %}
{% endblock %}
